html, body {
  background-color: #dcffd6;
  /*background-image: url(img/salat-60x60.png);
  background-size: 50px;*/
  padding: 0;
  margin: 0;
  display: block;
  font-family: monospace;
  color: #33CC33;
}

#header {
  width: 98%;
  padding: 1%;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(100,100,100,75);
}

#header h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
}

#header img {
  position: relative;
  top 10px;
  width: 30px;
  height: 30px;
}

.ui {
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(100,100,100,75);
  margin-top: 1%;
}

#site {
  width: 100%;
  padding: 0;
  text-align: center;
}

#info ul {
  margin: 0;
  padding: 5px;
}

#info li {
  padding: 0;
  padding-right: 20px;
  margin: 0;
  display: inline;
  list-style: none;
  font-size: 20px;
}

#game {
  background-color: skyblue;
  box-shadow: 1px 1px 3px 0px rgba(100,100,100,75);
}

#inputs {
  width: 100%;
}

.ui-input {
  background-color: white;
  color: #33CC33;
  font-size: 30px;
  border: 1px solid white;
  box-shadow: 1px 1px 3px 0px rgba(100,100,100,75);
  padding: 5px;
}

input[type="button"] {
  width: 50%;
  margin: 10px;
}

input[type="button"]:hover {
  background-color: #ccffcc;
}

#footer {
  width: 100%;
}

#footer p {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 16px;
}
